.rayr-imgview {
    cursor: pointer;
}

.rayr-imgview-box {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    background-color: rgba(0, 0, 0, .5);
    align-items: center;
    justify-content: center;
    .imgview-icon {
        background-size: 288px 70px;
        background-repeat: no-repeat;
        background-image: url("./icon.png");
    }
    .imgview-box-close {
        position: absolute;
        right: 15px;
        top: 15px;
        width: 24px;
        height: 24px;
        background-position: -264px 0;
        cursor: pointer;
    }
    .imgview-box {
        max-width: 50%;
        transition: all .3s;
        img {
            width: 100%;
            pointer-events: none;
            -webkit-user-drag: none;
            user-select: none;
            visibility: hidden;
            display: none;
        }
        .img-canvas{
            // position: absolute;
            // top: 0;
            // left: 0;
            max-width: 600px;
            transition: all .3s;
        }
    }
    .imgview-box-tools {
        position: absolute;
        display: flex;
        left: 50%;
        transform: translate(-50%, 0);
        bottom: 150px;
        span {
            width: 24px;
            height: 24px;
            margin-right: 8px;
            &:last-child {
                margin-right: 0;
            }
            cursor: pointer;
        }
        span.plus {
            background-position: 0 0;
        }
        span.minus {
            background-position: -24px 0;
        }
        span.left {
            background-position: -168px 0;
        }
        span.right {
            background-position: -192px 0;
        }
        span.horizontal {
            background-position: -216px 0;
        }
        span.vertical {
            background-position: -240px 0;
        }
        span.refresh {
            background-position: -48px 0;
        }
    }
}
