.rayr-imgview {
    cursor: pointer;
}

.rayr-imgview-box {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    background-color: rgba(0, 0, 0, .3);
    align-items: center;
    justify-content: center;
    .imgview-box {
        max-width: 50%;
        transition: all .3s;
        img {
            width: 100%;
            cursor: move;
        }
    }
    .imgview-box-tools {
        position: absolute;
        display: flex;
        left: 50%;
        transform: translate(-50%, 0);
        bottom: 200px;
        span {
            width: 25px;
            height: 25px;
            margin-right: 10px;
            background-size: cover;
            background-repeat: no-repeat;
            &:last-child {
                margin-right: 0;
            }
            cursor: pointer;
        }
        span.plus {
            background-image: url("./images/plus.png");
        }
        span.minus {
            background-image: url("./images/minus.png");
        }
        span.left {
            background-image: url("./images/left.png");
        }
        span.right {
            background-image: url("./images/right.png");
        }
        span.refresh {
            background-image: url("./images/refresh.png");
        }
    }
}
